<% @stylesheet = "table" %>
<h1>Listing newsitems</h1>

<table>
  <tr>
	  <th></th>
    <th>Title</th>
    <th>Contents</th>
  </tr>

<% @newsitems.each do |newsitem| %>
  <tr class="<%= cycle("even", "odd") %>">
	  <td><%= image_tag (newsitem.photo.url(:thumb)) %></td>
    <td><%=h newsitem.title %></td>
    <td>
			<div id="newsitemheader"><%= newsitem.title %></div>
			<%=h newsitem.English_content[0..160] %>
		</td>
    <td>
		  <div id="showeditdestroy#{<%= newsitem.title %>}", class="showeditdestroy">
				<% link_to (newsitem) do %>
					<div id="show", class="button">
						<p>Show</p>
					</div>
			  <% end %>
				<% if signed_in? && current_user.admin? %>				
					<% link_to (edit_newsitem_path(newsitem)) do %>
						<div id="edit", class="button">
							<p>Edit</p>
						</div>
				  <% end %>
					<% link_to (newsitem, :confirm => 'Are you sure?', :method => :delete ) do %>
						<div id="destroy", class="button">
							<p>Delete</p>
						</div>
				  <% end %>
				<% end %>
			</div>
    </td>
  </tr>
<% end %>
</table>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New newsitem', new_newsitem_path %>
<% end %>