<h1><%=h @newsitem.title %></h1>
<div id="photo">
  <%= image_tag @newsitem.photo.url %>
</div>
<div id="left">
  <p><%=h @newsitem.English_content %></p>
</div>
<div id="right">
  <p><%=h @newsitem.English_content %></p>
</div>




<%= link_to 'Edit', edit_newsitem_path(@newsitem) %>
