<% form_for @tutor, :html => { :multipart => true }, :builder => TaggedBuilder do |f| %>
	<%= f.error_messages %>
	<div id="form_header"><h1><%= @header %></h1>
		<%= f.submit 'Save' , :class => "form_submit_button"%>
	</div>	
	<div id="left">
		<fieldset id="name">
			<legend>Name</legend>
			<%= f.text_field :family_name %>
			<%= f.text_field :given_name %>
			<p>
				<%= f.label :given_name_first %>
				<%= f.check_box(:given_name_first, {:checked => true}) %>
			</p>
		</fieldset>	
		<fieldset id="photo">
			<legend>Photo</legend>
			<%= f.file_field :photo %>
			<%= image_tag (@tutor.photo.url(:thumb)) %>
		</fieldset>
		<fieldset id="personal_details">
			<legend>Personal details</legend>
			<%= f.text_field :age %>
			<p>
			  <%= f.label :sex %>
			  <%= f.select (:sex, {"male" => "male", "female"=> "female"}) %>
			</p>
			<p>
			  <%= f.label :flavour %>
				<%= f.collection_select :flavour, @flavours, :name, :name %>
			</p>
		</fieldset>	
		<fieldset id="contact">
			<legend>Contact Info</legend>
			<%= f.text_area :address %>
			<%= f.text_field :phone %>
		</fieldset>
	</div>
	<fieldset id="experience">
		<legend>Experience</legend>
		<%= f.text_area :qualifications %>
		<%= f.text_area :experience %>
		<%= f.text_area :national_knowledge %>
		<%= f.text_area :course_experience %>
		<%= f.text_area :textbook_experience %>
	</fieldset>  
<% end %>