<h1>Listing tutors</h1>

<table>
  <tr>
	  <th></th>
    <th>Name</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Flavour</th>
		<% if session[:tutor_id] && Tutor.find(session[:tutor_id]).admin %>
			<th></th>
		<% end %>
  </tr>

<% @tutors.each do |tutor| %>
  <tr>
	  <td><%=link_to (image_tag (tutor.photo.url(:thumb))), tutor%></td>
    <td><%= highlight(tutor.name, tutor.family_name, :highlighter => '<span class="familyname">\1</span>') %></td>
    <td><%=h tutor.age %></td>
    <td><%=h tutor.sex %></td>
    <td><%=h tutor.flavour %></td>
		<% if session[:tutor_id] && Tutor.find(session[:tutor_id]).admin %>
			<td><%= link_to 'Show', tutor %>
				<%= link_to 'Edit', edit_tutor_path(tutor) %>
				<%= link_to 'Destroy', tutor, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tutor', new_tutor_path %>