<p>
  <b>Experience:</b>
  <%=h @tutor.experience %>
</p>

<p>
  <b>Qualifications:</b>
  <%=h @tutor.qualifications %>
</p>

<p>
  <b>Course experience:</b>
  <%=h @tutor.course_experience %>
</p>

<p>
  <b>Textbook experience:</b>
  <%=h @tutor.textbook_experience %>
</p>

<p>
  <b>National knowledge:</b>
  <%=h @tutor.national_knowledge %>
</p>

<p>
  <b>Age:</b>
  <%=h @tutor.age %>
</p>

<p>
  <b>Phone:</b>
  <%=h @tutor.phone %>
</p>

<p>
  <b>Sex:</b>
  <%=h @tutor.sex %>
</p>

<p>
  <b>Flavour:</b>
  <%=h @tutor.flavour %>
</p>

<p>
  <b>Given name:</b>
  <%=h @tutor.given_name %>
</p>

<p>
  <b>Family name:</b>
  <%=h @tutor.family_name %>
</p>

<p>
  <b>Given name first:</b>
  <%=h @tutor.given_name_first %>
</p>


<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>