<% @stylesheet = "show_tutor" %>
<div id="left_panel">
	<div id="left_top">
		<div id="tutor_img">
		  <%= image_tag (@tutor.photo.url(:thumb)) %>
		</div>
		<div id="name_age_sex">
			<p><%= highlight(@tutor.name, @tutor.family_name, :highlighter => '<span class="familyname">\1</span>') %></p>
			<p><%= @tutor.age %> year old <%= @tutor.sex %></p>
			<p>Flavour: <%= @tutor.flavour %></p>
		</div>
	</div>
	<div id="contact_details">
		<p>Phone: <%= @tutor.phone %></p>
		<p>Email: <%= mail_to(@tutor.User.email) %></p>
	</div>
</div>
<div id="experience">
	<p>
	  <b>Experience:</b>
	  <%=h @tutor.experience %>
	</p>

	<p>
	  <b>Qualifications:</b>
	  <%=h @tutor.qualifications %>
	</p>

	<p>
	  <b>Course experience:</b>
	  <%=h @tutor.course_experience %>
	</p>

	<p>
	  <b>Textbook experience:</b>
	  <%=h @tutor.textbook_experience %>
	</p>

	<p>
	  <b>National knowledge:</b>
	  <%=h @tutor.national_knowledge %>
	</p>
</div>