<% @stylesheet = "show_tutor" %>
<div id="left_panel">
	<div id="left_top">
		<div id="tutor_img">
		  <%= image_tag (@tutor.photo.url(:thumb)) %>
		</div>
		<div id="name_age_sex">
			<p><%= highlight(@tutor.name, @tutor.family_name, :highlighter => '<span class="familyname">\1</span>') %></p>
			<p><%= @tutor.age %> year old <%= @tutor.sex %></p>
			<p>Flavour: <%= @tutor.flavour %></p>
		</div>
	</div>
	<div id="contact_details">
		<p>Phone: <%= @tutor.phone %></p>
		<% if @tutor.User %>
		  <p>Email: <%= mail_to(@tutor.User.email) %></p>
		<% else %>
		  <p>No user associated with this record</p>
		<% end %>
	</div>
</div>
<div id="experience">
	<h3>Experience:</h3>
	<p><%=h @tutor.experience %></p>
  <h3>Qualifications:</h3>
	<p><%=h @tutor.qualifications %></p>
  <h3>Course experience:</h3>
	<p><%=h @tutor.course_experience %></p>
  <h3>Textbook experience:</h3>
	<p><%=h @tutor.textbook_experience %></p>
  <h3>National knowledge:</h3>
	<p><%=h @tutor.national_knowledge %></p>
</div> 