<% form_for @page, :html => { :multipart => true }, :builder => TaggedBuilder do |f| %>
	<%= f.error_messages %>
	<div id="form_header"><h1><%= @header %></h1>
		<%= f.submit 'Save' %>
	</div>
	<%= f.text_field :name %>	
	<%= f.text_field :permalink %>
	<%= f.check_box :news %>
	<div id="left">
		<%= f.text_area :English_content %>
	</div>
	<div id="right">
		<%= f.text_area :Vietnamese_content %>
	</div>
<% end %>