<% link_to(textilehelp_path) do %>
<div id="textilehelp_button" class="extrabutton">
	<p>Help</p>
</div>
<% end %>
<% form_for @page, :html => { :multipart => true }, :builder => TaggedBuilder do |f| %>
	<%= f.error_messages %>
	<div id="form_header"><h1><%= @header %></h1>
		<%= f.submit 'Save', :class => "form_submit_button"%>
	</div>
	<p>
  	<%= f.label "Add newsbar" %>
	  <%= f.check_box :news %>
	</p>
	<p>
		<%= f.text_field "title_picture" %>
	</p>
	<div id="left">
		<%= f.text_area :English_content %>
	</div>
	<div id="right">
		<%= f.text_area :Vietnamese_content %>
	</div>
  <div id="dont_edit">
		<h3>Be careful about editing anything below here!</h3>
		<%= f.text_field :permalink %>
  	<%= f.text_area :html %>
  </div>
<% end %>