<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ConnectTeach </title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Iain Wood, railsiain.com">
	<script type="text/javascript" src="javascripts/jsScroller.js"></script>
	<script type="text/javascript" src="javascripts/jsScrollbar.js"></script>
	<script type="text/javascript">
	var scroller  = null;
	var scrollbar = null;
	window.onload = function () {
	  scroller  = new jsScroller(document.getElementById("Scroller"), 400, 200);
	  scrollbar = new jsScrollbar (document.getElementById("Scrollbar-Container"), scroller, false);
	}
	</script>
	<%= stylesheet_link_tag 'condelastic' %>
	<%= stylesheet_link_tag 'newsite' %>
	<%= stylesheet_link_tag 'sidemenu' %>
	<%= stylesheet_link_tag 'footer' %>
	<%= yield :newsbarcss %>
	<% if @stylesheet %>
	  <% for sh in @stylesheet %>
	    <%= stylesheet_link_tag sh %>
	  <% end %>
  <% end %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="banner">
			</div>
      <% link_to (url_for(root_path).chop.chop+'en') do %>
				<div id="english_flag">
			  </div>
			<% end %>
			<% link_to (url_for(root_path).chop.chop+'vn') do %>
  			<div id="vietnamese_flag">
		  	</div>
			<% end %>
			<div id="logo">	
			</div>			
		</div>
		<div id="main">
			<%= yield :edit_this_page_button %>
			
			<%= yield :newsbar %>
			<div id="menu">
				<% link_to (root_path) do %>
				<div id="menuheader" class="button">
				</div>
				<% end %>
				
				<% link_to(root_path) do %>
				<div id="homebutton" class="button">
					<p>Home</p>
				</div>
				<% end %>
								
				<% link_to(about_path) do %>
				<div id="aboutbutton" class="button">
					<p>About</p>
				</div>
				<% end %>
								
				<% link_to(tutorinfo_path) do %>		
		    <div id="tutorbutton" class="button">
					<p>Tutors</p>
				</div>
		    <% end %>
		
		    <% link_to(courses_path) do %>
				<div id="coursebutton" class="button">
					<p>Courses & Programs</p>
				</div>
				<% end %>
				
				<% link_to(clientinfo_path) do %>
				<div id="clientbutton" class="button">
					<p>Clients</p>
				</div>
				<% end %>
				
				<% link_to (contact_path) do %>
				<div id="contactbutton" class="button">
					<p>Contact</p>
				</div>
				<% end %>
				
				<div id="visitor" class="button">
					<p></p>
				</div>
				
				
			</div>
			<div id="text">
        <div id="Container">
	       <div id="Scroller">
					<div class="Scroller-Container">
					  <%= yield  %>
					</div>
         </div>
       </div>
			 <div id="Scrollbar-Container">
				<div class="Scrollbar-Up"></div>
				<div class="Scrollbar-Down"></div>
		    <div class="Scrollbar-Track">
			    <div class="Scrollbar-Handle"></div>
		    </div>
			</div>
			</div>

			
			<div id="footer">
				<div id="copyright">
				<p>	ⓒ ConnectTeach</p>
				</div>
				<div id="graphics">
					<p>Graphics by  <a href="http://www.grindstudio.net">Grindstudio</a></p>
				</div>
				<div id="design">
					<p>WebDesign by <a href="http://www.railsiain.com">RailsIain</a></p>
				</div>
			</div>
		</div>
	</div>
</body>