<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ConnectTeach </title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Iain Wood, railsiain.com">
	<%= stylesheet_link_tag 'condelastic' %>
	<%= stylesheet_link_tag 'site' %>
	<%= stylesheet_link_tag 'menu' %>
	<%= stylesheet_link_tag 'footer' %>
  <% if @stylesheet %>
	  <% for sh in @stylesheet %>
	    <%= stylesheet_link_tag sh %>
	  <% end %>
  <% end %>
	<%= yield :newsbarcss %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="banner">
			</div>
			<div id="logo">	
			</div>
			<div id="login">
				<div id="loginlogo">
				</div>
				<% if session[:user_id] %>
				  <% user=User.find(session[:user_id]) %>
					<div id="loggedinas">
						<p>Logged in as: </p>
					  <p><%= user.email %></p>
					</div>
					<% link_to (:controller => 'clearance/sessions', :action => 'destroy') do %>	
					<div id="logoutbutton">
						<p>Logout</p>
					</div>
					<% end %>
				  <% link_to (:controller => '/tutors', :action => 'edit', :id => user.tutor_id) do %>	
				  <div id="details">
				  	<p>Details</p>
				  </div>
				  <% end %>
				<% else %>
					<% link_to (:controller => 'clearance/sessions', :action => 'new') do %>
					<div id="loginbutton">
						<p>Login</p>
					</div>
					<% end %>
				<% end %>
				<div id="flash">
					<p style="color: green">
						<%= flash[:notice] %>
						<%= flash[:sucess] %>
					</p>
					<p style="color: red">
						<%= flash[:error] %>
						<%= flash[:failure] %>
					</p>
        </div>
			</div>
			<div id="menu">
				<% link_to (contact_path) do %>
				<div id="contactbutton" class="button">
					<p>Contact</p>
				</div>
				<% end %>
				
				<% link_to(about_path) do %>
				<div id="aboutbutton" class="button">
					<p>About</p>
				</div>
				<% end %>
				
				<% link_to(courses_path) do %>
				<div id="coursebutton" class="button">
					<p>Courses & Programs</p>
				</div>
				<% end %>
				
				<% if user %>	
				  <% if user.role == "admin" %>	
				    <% tutor_link=url_for(tutors_path) %>
					<% else %>
					  <% if user.tutor_id %>
					    <% tutor_link=url_for(:controller => '/tutors', :action => 'edit', :id => user.tutor_id) %>
					  <% else %>
					    <% tutor_link=url_for(:controller => '/tutors', :action => 'new') %>
					    <!-- need to create new tutor record here and add it to user -->
					  <% end %>
					<% end %>
					<% Rails.logger.info "***************************************" %>
					<% Rails.logger.info "user.tutor_id = #{user.tutor_id}" %>
					<% Rails.logger.info "***************************************" %>
					
				<% else %>
				  <% tutor_link=url_for(new_session_path) %>
				<% end %>
				<% Rails.logger.info "***************************************" %>
				<% Rails.logger.info "tutor_link = #{tutor_link}" %>
				<% Rails.logger.info "***************************************" %>
				<% link_to(tutor_link) do %>		
		    <div id="tutorbutton" class="button">
					<p>Tutors</p>
				</div>
		    <% end %>
		
				<% link_to(tutors_path) do %>
				<div id="clientbutton" class="button">
					<p>Clients</p>
				</div>
				<% end %>
				
				<% link_to(root_path) do %>
				<div id="homebutton" class="button">
					<p>Home</p>
				</div>
				<% end %>
				
			</div>
		</div>
		<div id="main">
			<%= yield :newsbar %>
			<div id="text">
				<%= yield :edit_this_page_button %>
				<%= yield  %>
			</div>
			<div id="footer">
				<div id="copyright">
				<p>	ⓒ ConnectTeach</p>
				</div>
				<div id="graphics">
					<p>Graphics by  <a href="http://www.grindstudio.net">Grindstudio</a></p>
				</div>
				<div id="design">
					<p>WebDesign by <a href="http://www.railsiain.com">RailsIain</a></p>
				</div>
			</div>
		</div>
	</div>
</body>